html{
    background-color: rgb(196, 196, 196);
}
.menu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    background-color: white;
    border-top-right-radius: 10px;
    z-index: 2;
}

@media (max-width: 400px) {
    .menu {
        top: 0;
        bottom: auto;
        width: 100%;
        border-top-right-radius: 0;
    }
}
.Website-Name {
    text-align: center;
    margin-top: 20%;
    margin-bottom: 10px;
}
.menu-items {
    margin-top: 20%;
    color: black;
    display: block;
}
.menu-items > a{
    display: block;
    text-decoration: none;
    color: black;
}
.content{
    position: relative;
    margin-left: 16%;
    width: 84%;
}
.btn-primary {
    display: block;
    padding: 3%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
}
.btn-primary:hover {
    background-color: grey;
    border-radius: 5px;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.user-card{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    text-align: center;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.2);
    padding: 5%;
}
.user-card > form > button{
    background-color: rgb(27, 29, 47);
    border: none;
    color: white;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 10px;
}
.user-card > form > button:hover{
    background-color: rgb(213, 214, 223);
    cursor: pointer;
    border: none;
    color: rgb(84, 76, 76);
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 10px;
}