.item1 { grid-area: tot; }
.item2 { grid-area: ano; }
.item3 { grid-area: score; }
.item4 { grid-area: timer; }
.grid-container {
    display: grid;
    grid-template-areas:
      'tot ano score'
      'timer timer timer'
      'timer timer timer';
    gap: 10px;
    padding: 10px;
    height: 80vh;
} 
.grid-container > div {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    border-radius: 10px;
    border: solid 3px rgb(34, 34, 34);
}
#stopTimer{
    background-color: rgb(129, 129, 129);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: solid 3px rgb(34, 34, 34);
}
#stopTimer:hover{
    background-color: red;
}
#timer{
    margin-top: 4%;
    margin-bottom: 4%;
    /* margin-right: 13%; */
}
.item4 > input{
    padding: 10px;
    width: 20%;
    font-size: 20px;
    border-radius: 10px;
    border: solid 3px rgb(34, 34, 34);
    text-align: center;
}
.item4 > button{
    background-color: green;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border: solid 3px rgb(34, 34, 34);
    transition: background-color 0.3s ease;
}
.item4 > button:hover{
    background-color: rgb(129, 129, 129);
}
hr{
    max-width: 80%;
}

.topbar{
    justify-content: space-between;
    display: flex;
}
.audio{
    margin: 21.44px 0 21.44px 10.875px;
}
h1{
    margin-top: 30px;
}